body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef; /* Cinza claro suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-bottom: 60px; /* Espaço para o rodapé fixo */
}

.container {
    text-align: center;
    background-color: #ffffff; /* Fundo branco */
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #2c3e50; /* Azul escuro suave */
    margin-bottom: 20px;
}

#hangman-drawing {
    font-family: monospace; /* Fonte de largura fixa para o desenho */
    font-size: 1.2em;
    margin: 20px 0;
    white-space: pre; /* Mantém a formatação do desenho */
    text-align: center;
}

#word-display {
    font-size: 2em;
    margin: 20px 0;
    letter-spacing: 10px;
    color: #34495e; /* Azul médio */
}

#incorrect-letters {
    font-size: 1.2em;
    margin: 10px 0;
    color: #e74c3c; /* Vermelho suave */
}

#attempts {
    font-size: 1.2em;
    margin: 10px 0;
    color: #3498db; /* Azul claro */
}

#score {
    font-size: 1.2em;
    margin: 10px 0;
    color: #27ae60; /* Verde suave */
}

#guess-input {
    padding: 10px;
    font-size: 1em;
    width: 50px;
    text-align: center;
    border: 2px solid #bdc3c7; /* Cinza claro */
    border-radius: 5px;
    margin-right: 10px;
    background-color: #ecf0f1; /* Fundo cinza claro */
    color: #2c3e50; /* Azul escuro */
}

#guess-button, #hint-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db; /* Azul claro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease; /* Transição suave */
}

#guess-button:hover, #hint-button:hover {
    background-color: #2980b9; /* Azul mais escuro ao passar o mouse */
}

#message {
    font-size: 1.2em;
    margin-top: 20px;
    color: #e74c3c; /* Vermelho suave */
}

footer {
    position: fixed; /* Fixa o rodapé na parte inferior */
    bottom: 0; /* Alinha o rodapé no final da página */
    left: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    text-align: center;
    font-size: 0.9em;
    color: #7f8c8d; /* Cinza suave */
    padding: 10px 0; /* Espaçamento interno */
    background-color: #ffffff; /* Fundo branco */
    border-top: 1px solid #e9ecef; /* Borda superior suave */
}

.developer-name {
    font-weight: bold;
    color: #3498db; /* Azul claro para destacar levemente */
}

@media (max-width: 600px) {
    #word-display {
        font-size: 1.5em;
        letter-spacing: 5px;
    }

    #guess-input {
        width: 40px;
    }
}